@model Hospital_Management_System_ASP.NET.Models.DoctorAndDepartmentModelView
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Home Page";
}

<header id="Home">
    <nav>
        <div class="row">
            <img src="~/Content/Layout/resources/img/logo-white.jpg" alt="HMS logo" class="logo">
            <img src="~/Content/Layout/resources/img/logo.jpg" alt="HMS logo" class="logo-black">
            <ul class="main-nav js-main-nav">
                <li><a href="#Home">Home</a></li>
                <li><a href="#doctors">Doctors</a></li>
                <li><a href="#departments">Departments</a></li>
                <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                <li><a href="@Url.Action("Login", "Account")">Sign In</a></li>
            </ul>
            <a class="mobile-nav-icon js-mobile-nav-icon"><i class="ion-ios-menu"></i></a>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Your health,<br>our mission</h1>
        <br>
        <a class="btn btn-ghost js-scroll-to-start" href="/Patients/AddAppointment">Book an appointment</a>
    </div>
</header>

<section class="section-features js-section-features" id="doctors">
    <div class="row">
        <h2>
            Our medical team:
            Dedicated professionals
        </h2>
        <p class="long-copy">

        </p>
    </div>
    <div class="row js-wp-1">
        @Html.Partial("DoctorsPartialView", Model.Doctors)
    </div>
</section>

<section class="section-steps" id="departments">
    <div class="row">
        <h2>Medical specialties &mdash; Comprehensive coverage</h2>
    </div>
    <div class="row">
        @Html.Partial("DepartmentsPartialView", Model.Departments)
    </div>
</section>



<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">Home</a></li>
                <li><a href="~/Doctors/Index">Doctors</a></li>
                <li><a href="~/Departments/Index">Departments</a></li>
                <li><a href="@Url.Action("Login", "Account")">Sign in</a></li>
                <li><a href="@Url.Action("Register", "Account")">Register</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#"><i class="ion-logo-facebook"></i></a></li>
                <li><a href="#"><i class="ion-logo-twitter"></i></a></li>
                <li><a href="#"><i class="ion-logo-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-logo-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p> Copyright &copy; @DateTime.Now.Year by HMS. All rights reserved.</p>
    </div>
</footer>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}