@model Hospital_Management_System_ASP.NET.Models.AddToRoleModel
@{
    ViewBag.Title = "Add User to Role";
}

<section class="section-form" id="contact">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>
    @using (Html.BeginForm("AddUserToRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col span-1-of-4">
            </div>
            <div class="col span-2-of-4">
                <div class="plan-box">
                    <div>
                        <div>
                            <label for="email">Email<span style="color: red; font-weight: bold">*</span></label>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", id = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="role">Role<span style="color: red; font-weight: bold">*</span></label>
                            @Html.DropDownListFor(m => m.SelectedRole, new SelectList(Model.Roles), new { @class = "form-control", id = "role" })
                            @Html.ValidationMessageFor(m => m.SelectedRole, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                    <div style="text-align: center !important">
                        <input type="submit" value="Save" class="btn btn-ghost">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">
            </div>
        </div>
        <div style="text-align: center" class="row">
            @Html.ActionLink("Back to Home", "Index", "Home")
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
