@model Hospital_Management_System_ASP.NET.Models.Doctor

@{
    ViewBag.Title = "DoctorDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Doctor Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        @if (Model.Address != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
        }

        @if (Model.PhoneNo != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNo)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        @if (Model.DateOfBirth != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
        }

    </dl>
</div>
<p style="margin-left:120px">
    @Html.ActionLink("Edit", "EditDoctors", new { id = Model.DoctorId }) |
    @Html.ActionLink("Back to List", "ListOfDoctors")
</p>
